@import "bourbon/bourbon";
@import "globals/variables";

// Header navigation.
//
// No styleguide reference.
header nav {
	// Position buttons in header.
	.button {
		margin-top: 6px;
		float: left;
	}
	&.right .button {
		margin-right: 5px;
	}
	&.left .button {
		margin-left: 5px;
	}

	// Adapt non-button hyperlinks in header.
	a:not(.button) {
		padding: 0 11px !important;
		float: left;
		height: $header-height;

		[class^="icon-"] {
			font-size: 1.8em;
		}
	}

	// Resize icons in header.
	em {
		font-size: $font-size-small;
		font-weight: bold;
		display: block;
	}
	[class^="icon-"] + em {
		margin-left: 4px;
	}
}
