// Disable the whole legacy and experimental support except for WebKit.
$legacy-support-for-ie: false;
$legacy-support-for-mozilla: false;
$experimental-support-for-mozilla: true;
$experimental-support-for-opera: false;
$experimental-support-for-microsoft: false;
$support-for-original-webkit-gradients: false;

@import "compass";

// Global Foundation settings
$include-print-styles: false;

$column-gutter: 20px;

// Configurables
$body-bg: #fbfbfb;

$body-font-color: #333333;
$body-font-family: "Roboto-Regular", "Droid Sans", Arial, Helvetica, sans-serif;
$body-font-weight: normal;
$body-font-style: normal;

$primary-color: #228cd1; //qpondo-branding
$secondary-color: #fbfbfb;
$alert-color: #ff4444;
$success-color: #99cc00;
