// Disable the whole legacy and experimental support except for WebKit.
$legacy-support-for-ie: false;
$legacy-support-for-mozilla: false;
$experimental-support-for-mozilla: false;
$experimental-support-for-opera: false;
$experimental-support-for-microsoft: false;
$support-for-original-webkit-gradients: false;

@import "compass";

// Global Foundation settings
$include-print-styles: false;

// Configurables
$body-bg: #fbfbfb;

$body-font-color: #333333;
$body-font-family: "Roboto-Regular", "Droid Sans", Arial, Helvetica, sans-serif;
$body-font-weight: normal;
$body-font-style: normal;

<<<<<<< HEAD
$primary-color: #33b5e5;
$secondary-color: #fbfbfb;
$alert-color: #ff4444;
$success-color: #99cc00;
=======
$primary-color: #33B5E5;
$secondary-color: #e9e9e9;
$alert-color: #FF4444;
$success-color: #99CC00;
>>>>>>> add start-page
