<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="de.qpmedia.prototype" version="0.0.1">
	<name>QP Demo/Prototype</name>

	<description>
		PROTOTYPE
	</description>

	<author href="https://qpmedia.de/" email="support@qpmedia.de">
		QP media
	</author>

	<icon src="icon.png" />

	<!-- Disable bouncing for iOS (no idea why the default is true) -->
	<preference name="UIWebViewBounce" value="false" />

	<!-- Android 4.0 is required -->
	<preference name="android-minSdkVersion" value="14" />

	<gap:plugin name="BarcodeScanner"/>
</widget>
