<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id        = "com.phonegap.hello-world"
		version   = "2.0.0">
	<name>QP Demo/Prototype</name>

	<description>
		PROTOTYPE
	</description>

	<author href="https://qpmedia.de/" email="support@qpmedia.de">
		QP media
	</author>

	<gap:plugin name="BarcodeScanner"/>
</widget>