$actionbar-height: 48px !default;
$actionbar-bg-color: #dddddd !default;
$actionbar-icon-color: #777777 !default;
$actionbar-icon-size: 38px !default;

// Action Bar
//
// The *action bar* is a dedicated piece of real estate at the top of each
// screen that is generally persistent throughout the app.
//
// Markup:
// <footer class="action-bar">
//     <ul>
//         <li><span class="icon-rating-favorite"></span></li>
//         <li><span class="icon-rating-bad"></span></li>
//         <li><span class="icon-rating-good"></span></li>
//     </ul>
// </footer>
//
// Styleguide 2.
.action-bar {
	@include stretch-x;
	bottom: 0;
	z-index: 3;
	height: $actionbar-height;
	background-color: $actionbar-bg-color;
	@include background-image(linear-gradient(top, darken($actionbar-bg-color, 5%), darken($actionbar-bg-color, 5%) 2px, $actionbar-bg-color 2px, $actionbar-bg-color));
	padding: 0;
	color: $actionbar-icon-color;
	overflow: hidden;

	ul {
		display: block;
		line-height: $actionbar-height;

		// TODO: Icons should be borderless buttons, see Android styleguides
		li {
			display: inline-block;
			float: left;
			margin: 0;
			text-align: center;

			&:first-child { text-align: left; }
			&:last-child { text-align: right; }
			span[class*="icon-"] {
				font-size: $actionbar-icon-size;
				display: inline-block;
				width: $actionbar-height;
				height: $actionbar-height;
				text-align: center;
			}
		}
		// TODO: Code optimization
		@for $i from 2 through 6 {
			$li-width: 100% / $i;
			@if $i > 3 {
				$li-width: 100% / ($i - 1);
			}
			li:nth-child(1):nth-last-child(#{$i}) {
				@if $i > 3 {
					margin-right: ($actionbar-height / 4);
					width: $li-width / 2;
				} @else {
					width: $li-width;
				}

				& ~ li {
					width: $li-width;
					@if $i > 3 {
						margin-right: -($actionbar-height / 2 / ($i - 2));
					}
				}
			}
			li:nth-child(#{$i}):nth-last-child(1) {
				@if $i > 3 {
					margin-left: ($actionbar-height / 4) !important;
					width: $li-width / 2 !important;
				} @else {
					width: $li-width !important;
				}
			}
		}
	}
}
