// See http://developer.android.com/design/style/metrics-grids.html#48dp-rhythm
// for more details about padding and margin of the buttons.
$button-margin-top: 4px;
$button-margin-bottom: $button-margin-top;

$button-font-color: #000 !default;
$button-font-color-alt: #000 !default;
$button-font-weight: normal;
$button-font-med: 16px;
$button-font-sml: 14px;

$button-border-width: 0;
$button-border-style: solid;
$button-border-color: transparent;

$button-radius: 2px;

$button-med: 1em / $button-font-med * 12px;
$button-sml: 1em / $button-font-sml * 12px;

// Disable tiny and large buttons.
$button-tny: $button-sml;
$button-lrg: $button-med;

@import "foundation/components/buttons";

// Buttons
//
// :hover - Highlight the button when hovering.
// :active - foo
// :focus - blahfocus
// .active - .active
//
// Markup:
// <a href="#" class="button {$modifiers}">Link</a>
// <button class="button {$modifiers}">Button</button>
// <input type="submit" value="Submit" class="button {$modifiers}">
//
// Styleguide 1.
.button {
	outline-width: 0px;
	outline-style: none;
	margin-top: $button-margin-bottom;
	@include border-radius($button-radius);
	background-color: #d6d6d6;
	@include box-shadow(0 1px 1px rgba(#000, 0.2),
		inset 0 1px rgba(#fff, 0.1), inset 0 -1px 1px rgba(#000, 0.426));
	@include transition(background-color 0s);
	-webkit-tap-highlight-color: transparent !important;

	& + .button {
		margin-left: 4px;
	}

	&:hover {
		// Reset background-color as we don't need any hover effects.
		background-color: #fff;
	}
	// See http://developer.android.com/design/style/touch-feedback.html for
	// details about button states.
	&:focus {
		background-color: mix(#5ac2e9, #fff, 50%);
		@include box-shadow(0 1px 1px rgba(#000, 0.2), inset 0 0 0 2px $primary-color);
	}
	// The "active" class is used to force the appearance of the active/pressed state.
	&:active, &.active {
		background-color: #5ac2e9;
		@include box-shadow(0 0 0 4px rgba($primary-color, 0.4),
			inset 0 1px rgba(#fff, 0.1), inset 0 -1px 1px rgba(#000, 0.426));
	}

	// Borderless buttons, see http://developer.android.com/design/building-blocks/buttons.html#borderless
	&.borderless {
		outline: 0;
		border: 0;
		background: transparent;
		@include box-shadow(none);
	}
}
