@import "compass/layout/stretching";
@import "foundation/components/pagination";

$navigation-bar-height: 48px;

#app-wrapper {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

#app {
	@include transition(transform 0s linear);
	@include backface-visibility(hidden);
	z-index: 2;
	width: 100%;
	height: 100%;
	background: #fff;
}

#header {
	@include stretch-x;
	top: 0;
	z-index: 2;
	height: $topbar-height;
	line-height: $topbar-height;
}

#footer {
	@include stretch-x;
	bottom: 0;
	height: $navigation-bar-height;
	background-color: #828282;
	@include background-image(linear-gradient(top, darken(#828282, 5%), darken(#828282, 5%) 2px, #828282 2px, #828282));
	padding: 0;
	color: #fff;
	overflow: hidden;

	ul.action-bar {
		display: block;
		//width: 100%;
		line-height: $navigation-bar-height;

		li {
			display: inline-block;
			float: left;
			margin: 0;
			text-align: center;
			font-size: 32px;

			&:first-child {
				padding-left: $column-gutter / 2 ;
				text-align: left;
			}
			&:last-child {
				padding-right: $column-gutter / 2 ;
				text-align: right;
			}
		}
		@for $i from 2 through 5 {
			li:nth-child(1):nth-last-child(#{$i}) {
				&, & ~ li { width: (100% / $i); }
			}
		}
	}
}

#main {
	@include stretch-y($topbar-height, $navigation-bar-height);
	left: 0;
	z-index: 2;
	overflow: auto;
	width: 100%;
	background-color: #fff;
	-webkit-overflow-scrolling: touch;
	@include transition(transform 0s linear);
	@include backface-visibility(hidden);
}

#menu {
	@include stretch-y(0, 0);
	background-color: #000;
	z-index: 0;
	left: 0;
}

#content {
	position: absolute;
	z-index: 1;
	padding: 0;
	width: 100%;
	-webkit-touch-callout: none;
	//-webkit-tap-highlight-color:rgba(#000, 0);
}
