$list-padding: 0 !default;

$list-item-bg: $body-bg !default;
$list-item-padding: 12px ($column-gutter / 2) !default;

ul.list-view {
	display: block;
	margin: 0;
	padding: $list-padding;
	list-style-type: none;
	list-style-position: inside;

	li {
		background-color: $list-item-bg;
		border-top: 1px solid darken($list-item-bg, 11%);
		margin: 0;
		padding: 0;

		a {
			@include clearfix;
			display: block;
			padding: $list-item-padding;
			-webkit-tap-highlight-color: rgba($primary-color, 0.9) !important;
		}
		h5 {
			font-size: remCalc(16px);
			line-height: 20px;
			margin-bottom: 2px;
		}
		p {
			color: lighten($body-font-color, 35%);
			font-size: remCalc(14px);
			line-height: 18px;
		}
		img {
			float: left;
			width: 100px;
			//margin: (nth($list-item-padding, 1) * -1) (nth($list-item-padding, 2) * -1);
			margin-right: nth($list-item-padding, 2);
		}
	}
}
