//$list-view-vertical-padding: 10px !default;
$list-view-horizontal-padding: 10px !default;
$list-view-bg: $body-bg !default;

ul.list-view {
	@include side-nav-container;
	padding: 0;

	li {
		background-color: $list-view-bg;
		border-top: 1px solid #dfdfdf;
		border-bottom: 1px solid #f9f9f9;
		margin: 0;
		padding: $list-view-horizontal-padding ($column-gutter / 2);

		// Remove top and bottom border from first and last list element.
		&:first-child { border-top: 0; }
		&:last-child { border-bottom: 0; }

		a {
			color: $body-font-color;
		}

		p {
			color: lighten($body-font-color, 25%);
			font-size: 90%;
		}
	}
	//for list-hover testing
	li:active {
		background-color: $primary-color;
		a {
			color: #ffffff;
		}

		p {
			color: darken(#ffffff, 5%);
			font-size: 90%;
		}
	}
}
