$menu-bg-color: #303030;
$headline-color: #8F8F8F;
$link-color: $body-bg;
$link-font-size: emCalc(23px) !default;
$spacing: 10px; 

#menu {
	background-color: $menu-bg-color;
	@include stretch-y(0, 0);
	z-index: 0;
	left: 0;
	width: 200px;

	.side-nav {
		li > a {
			padding: $spacing + 5;
			color: $link-color;
			font-size: $link-font-size;
		}

		li > a:active {
			padding-left: $spacing;
			background-color: darken($menu-bg-color, 10%);
			border-left: 5px solid $primary-color;
			font-weight: normal !important;
		}


		li.divider {	
			margin: 0 $spacing $spacing $spacing;
			border-top: 2px solid;
			border-top-color: $headline-color;
		}

		li.headline{
			color: $headline-color;
			text-transform:uppercase;
			padding: $spacing 0 0 $spacing;
			margin-bottom: 0;
		}
		
	}

	.icon {
		font-size: $link-font-size;
		vertical-align: middle;
	}
}