$menu-bg-color: #303030;
$headline-color: #8F8F8F;
$link-color: $body-bg;
$link-font-size: emCalc(22px) !default;
$spacing: 10px;

#menu {
	@include stretch-y(0, 0);
	left: 0;
	z-index: 0;
	width: 200px;
	background-color: $menu-bg-color;
	@include overflow-scroll();

	.side-nav {
		li > a {
			padding: $spacing + 5;
			color: $link-color;
			font-size: $link-font-size;
		}
		li > a:active {
			padding-left: $spacing;
			border-left: 5px solid $primary-color;
			background-color: darken($menu-bg-color, 10%);
			font-weight: normal !important;
		}
		li.divider {
			margin: 0 $spacing $spacing $spacing;
			border-top: 2px solid;
			border-top-color: $headline-color;
		}
		li.headline{
			margin-bottom: 0;
			padding: $spacing 0 0 $spacing;
			color: $headline-color;
			text-transform: uppercase;
		}

	}
	.icon {
		vertical-align: middle;
		font-size: $link-font-size;
	}
}
