$button-font-color: #000 !default;
$bg-color: #dddddd;
$stacked-tabs-bg-gradient: linear-gradient(bottom, rgba($primary-color, 1) 2px, rgba(#000, 0) 2px) !default;
$stacked-tabs-bg-gradient-active: linear-gradient(bottom, rgba($primary-color, 1) 5px, rgba(#000, 0) 0) !default;



.stacked-tabs {
	background-color: $bg-color;


	&.button-group li {
		position: relative;
		margin: 0;
	}

	.button { 
		background-color: $bg-color;
		@include box-shadow(none);
		@include background-image($stacked-tabs-bg-gradient);
		margin: 0;
		padding: 17px 0;
		outline: 0;
		border: 0;
		border-radius: 0;
		color: $button-font-color;
		text-transform:uppercase;
		font-size: emCalc(14px);

		&.active {
			@include background-image($stacked-tabs-bg-gradient-active);
		}

		&:active {
			@include background-image($stacked-tabs-bg-gradient-active);
		}
	}

	li:not(:first-child):after {
		position: absolute;
		bottom: 12px;
		display: block;
		width: 1px;
		height: 24px;
		background-color: darken($bg-color, 10%);
		content: '';
	}

	li:not(:last-child) {
		padding-right: 1px;
	}
}