$header-font-family: "Roboto-Regular", "Droid Sans", Arial, Helvetica, sans-serif !default;
$header-font-weight: normal !default;
$header-font-color: #333333 !default;
$header-line-height: 1.8 !default;

$h1-font-size: emCalc(44px) !default;
$h2-font-size: emCalc(37px) !default;
$h3-font-size: emCalc(27px) !default;
$h4-font-size: emCalc(23px) !default;
$h5-font-size: emCalc(18px) !default;
$h6-font-size: emCalc(18px) !default;

$small-font-size: emCalc(14px) !default;

$paragraph-font-size: emCalc(16px) !default;
$paragraph-line-height: emCalc(19px) !default;
$paragraph-margin-bottom: 0;

@import "foundation/components/type";

html, body {
	height: 100%;
	overflow: hidden;
}
