@import "compass/css3", "compass/typography/text/ellipsis", "globals/variables";

.list ul > li {
	position: relative;
	padding: $list-padding $list-padding-horizontal ($list-padding - 1px) $list-padding-horizontal;
	list-style-type: none;

	&, a, small, .right {
		font-weight: normal;
	}
	a {
		display: block;
		text-decoration: none;
	}
	img, [class^="icon-"] {
		float: left;
		margin-right: $list-padding-horizontal;
		text-align: center;
		line-height: 1;
	}
	&:not(.thumb) {
		img {
			width: auto;
			height: 34px;
		}
		[class^="icon-"] {
			width: 34px;
			height: 34px;
			font-size: 2.6em;
		}
	}
	&.thumb {
		img, [class^="icon-"] {
			margin-top: -($list-padding);
			margin-left: -($list-padding-horizontal);
		}
		img {
			width: auto;
			height: 61px;
		}
		[class^="icon-"] {
			width: 61px;
			height: 61px;
			font-size: 3.6em;
			line-height: 1.3;
		}
	}
	strong {
		position: relative;
		font-weight: normal;
		font-size: $font-size-big;
	}
	small {
		display: block;
		overflow: hidden;
		@include ellipsis;

		& + .right {
			margin-left: 0;
			margin-top: -12px;
		}
	}
	small, .right:not(.bubble) {
		font-size: $font-size-small;
	}
}

.list.indented ul > li:not(:last-child) {
	margin-bottom: 10px;
}
