@import "theme-globals";

// FIXME: Use font-face instead of importing Google Webfonts.
@import "http://fonts.googleapis.com/css?family=Roboto:300,400,600,700";

body {
	background-color: #000;
	color: $text-color;
	font-family: "Roboto", "Droid Sans", sans-serif;
	font-weight: normal;
	font-size: 13px;
	line-height: 1.3;
	letter-spacing: -0.05em;
}
