@import "compass/css3";
@import "theme-globals";

#app {
	background-color: $text-color;

	&, a {
		color: $text-color;
	}
	& > header {
		background-color: $theme-color;
		@include box-shadow(0 2px rgba(#000, 0.15), inset 0 1px lighten($theme-color, 20%), inset 0 -1px darken($theme-color, 20%));
		color: #fff;
	}
	& > footer {
		background-color: $text-color;
	}
	& > article {
		background-color: $background-color;
	}
	&.aside {
		@include box-shadow(-1px 0 2px rgba(#000, 0.2));
	}
	&.aside.right {
		@include box-shadow(1px 0 2px rgba(#000, 0.2));
	}
}

#menu {
	background-color: $text-color;
	color: #fff;

	& > header, & > footer {
		background-color: darken($text-color, 20%);
	}
	& > header {
		@include box-shadow(0 2px rgba(#000, 0.15), inset 0 1px darken($text-color, 10%), inset 0 -1px 0 darken($text-color, 40%));
	}
}

header > .title {
	font-weight: bold;
}
