@import "compass/css3";
@import "theme-globals";

// Header buttons
header .button {
	color: #fff;
	@include border-radius($border-radius * 2);
	background-color: darken($theme-color, 15%);
	@include box-shadow(0 1px lighten($theme-color, 15%), inset 0 1px darken($theme-color, 35%));

	&:active {
		background-color: darken($theme-color, 40%);
	}
}

// Article buttons
article .button {
	color: #fff !important;
	@include box-shadow(inset 0 1px rgba(#fff, 0.15), 0 1px 1px rgba(#000, 0.15));
	border: solid 1px rgba(#000, 0.1);
	@include border-radius($border-radius * 2);
	text-shadow: 0 1px rgba(#000, 0.1);

	&:active {
		@include box-shadow(inset 0 0 128px rgba(#000, 0.25));
		border-color: transparent;
	}
	&, abbr {
		font-weight: bold;
	}
	[class^="icon-"] {
		opacity: 0.65;
		text-shadow: 0 -1px 0 rgba(#000, 0.25);
	}
}

// Article button colors
article .button, article .bubble:not([class^="icon-"]) {
	background-color: darken($theme-color, 15%);

	&.color   { background-color: lighten($text-color, 10%); }
	&.success { background-color: $success-color; }
	&.danger  { background-color: $danger-color; }
	&.warning { background-color: $warning-color; }

	// Disabled support
	&[disabled], &:disabled, &.disabled {
		background: $form-color;
		color: #999 !important;
		@include box-shadow(none !important);
		text-shadow: none !important;
	}
}
