@import "theme-globals";

#app > header > nav {
	a:not(.button) {
		color: darken($theme-color, 35%);
		text-shadow: 0 1px 0 lighten($theme-color, 25%);

		&:active {
			color: darken($theme-color, 50%);
		}
	}
}

#app > footer > nav > a {
	box-shadow: inset 0 1px 0 #000, inset 0 2px 0 lighten($text-color, 20%);
	color: lighten($text-color, 25%);

	&.active {
		background-color: darken($text-color, 10%);
		box-shadow: inset 0 0 16px darken($text-color, 75%);
		color: #fff;
	}
}

#menu nav a {
	color: lighten($text-color, 20%);

	&:active {
		color: lighten($text-color, 50%);
	}
}
