<!--<li class="headline">Kategorien</li>-->
<li>
	<a href="#!/coupons">
		<!--<span class="icon icon-collections-sort-by-size"></span>-->
		<strong>Alle Kategorien</strong>
	</a>
</li>
<!--<li><a href="#"><span class="icon icon-content-picture"></span>Kategorie </a></li>-->
{% for c in categories %}
    <li>
    	<a href="#!/coupons">
    		<!--<span class="icon icon-content-picture" style="color: {{ c.color }}"></span>-->
    		<strong>{{ c.name }}</strong>
    		<span class="bubble right">23</span>
    	</a>
    </li>
{% endfor %}
