<nav class="top-bar">
				<ul class="title-area" id="backbutton">
					<!-- Title Area -->
					<li class="name previous" id="!/start"><span class="icon icon-navigation-previous-item"></span></li>
					<li class="name">
						<img src="app/images/Icon_Android_Qpondo.png">
					</li>

				</ul>
				<section class="top-bar-section">
					<ul class="left">
						<li id="title">{{title}}</li>
						<!-- 
						<li class="has-dropdown">
							<a href="#">Alle Coupons</a>
							<ul class="dropdown">
								<li><a href="#!/coupons">Alle Coupons</a></li>
								<li><a href="#!/favorites">Favorites</a></li>
								<li><a href="#">Beliebteste</a></li>
								<li><a href="#">Neueste</a></li>
								<li><a href="#">Kategorien anzeigen</a></li>
								<li><a href="#">Regionen anzeigen</a></li>
							</ul>
						</li> -->
					</ul>
					<ul class="right">
						<li class="has-dropdown">
							<a href="#" class="menu-icon"><span class="icon icon-punkte"></span></a>
							<ul class="dropdown">
								<li><a href="#">Aktualisieren</a></li>
								<li><a href="#">Einstellungen</a></li>
								<li><a href="#!/login">Anmelden</a></li>
							</ul>
						</li>
					</ul>
				</section>
			</nav>