<nav class="left">
	<a href="javascript://" class="js-back-button"><span class="icon-menu"></span></a>
</nav>
<img src="app/images/Icon_Android_Qpondo.png" class="title">
<span id="title" class="centered title">{{ title }}</span>

<!--<nav class="top-bar">
	<ul class="title-area" id="backbutton">
		<li class="name previous" id="!/start"><span class="icon-navigation-previous-item"></span></li>
		<li class="name">
			<img src="app/images/Icon_Android_Qpondo.png">
		</li>
	</ul>
	<section class="top-bar-section">
		<ul class="left">
			<li id="title">{{ title }}</li>
		</ul>
		<ul class="right">
			<li class="has-dropdown">
				<a href="#" class="borderless button icon-menu">Menu</a>
				<ul class="dropdown">
					<li><a href="#">Aktualisieren</a></li>
					<li><a href="#!/settings">Einstellungen</a></li>
					<li><a href="#!/login">Anmelden</a></li>
				</ul>
			</li>
		</ul>
	</section>
</nav>-->
<!-- Stacked tabs here -->
<!--<div id="tabs"></div>-->
