<div class="row">
	<div class="small-12 columns">
		<h1>{% block title %}Bitte loggen Sie sich ein.{% endblock %}</h1>
		<form id="loginform">
			<fieldset>
				<legend>Login</legend>
				<div class="row">
					<div class="large-12 columns">
						<label>Username</label>
						<input type="text" id="username" value="{{user.username}}">
					</div>
					<div class="large-12 columns">
						<label>Passwort</label>
						<input type="password" id="password">
					</div>
				</div>
				<button type="submit" class="button prefix">Login</button>
			</fieldset>
		</form>
	</div>
</div>