<div class="row">
	<div class="small-12 columns">
		<h1>{% block title %}Bitte loggen Sie sich ein.{% endblock %}</h1>
		<form>
			<fieldset>
				<legend>Login</legend>
				<div class="row">
					<div class="large-12 columns">
						<label>Username</label>
						<input type="text" id="username">
					</div>
					<div class="large-12 columns">
						<label>Passwort</label>
						<input type="text" id="password">
					</div>
				</div>
				<a href="#!/login" id="login" class="button prefix">Login</a>
			</fieldset>
		</form>
	</div>
</div>