<article class="list scroll">
	<ul>
		<li>
			<a href="#!/login">
				<!--<span class="icon icon-social-person"></span>-->
				<strong>Accountname</strong>
			</a>
		</li>
		<li>
			<a href="#!/favorites">
				<!--<span class="icon icon-rating-important"></span>-->
				<strong>Favoriten</strong>
				<span class="bubble right">42</span>
			</a>
		</li>
		<li id="scan">
			<a href="#" data-bypass>
				<!--<span class="icon icon-device-access-camera"></span>-->
				<strong>Scan</strong>
			</a>
		</li>
	</ul>
	<ul id="categories"></ul>
</article>
