<ul class="side-nav">
	<li class="headline">Konto</li>
	<li class="divider"></li>
	<li><a href="#!/login"><span class="icon icon-social-person"></span>Accountname</a></li>
	<li><a href="#!/favorites"><span class="icon icon-rating-important"></span>Favoriten</a></li>
	<li id="scan"><a href="#"><span class="icon icon-device-access-camera"></span>Scan</a></li>

	<li class="headline">Kategorien</li>
	<li class="divider"></li>
	<li><a href="#!/coupons"><span class="icon icon-collections-sort-by-size"></span>Alle Kategorien</a></li>
	<li><a href="#"><span class="icon icon-content-picture"></span>Kategorie </a></li>
	<li><a href="#"><span class="icon icon-content-picture"></span>Kategorie </a></li>
	<li><a href="#"><span class="icon icon-content-picture"></span>Kategorie </a></li>
	<li><a href="#"><span class="icon icon-content-picture"></span>Kategorie </a></li>
</ul>